.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
.vscode/.history/
*.csv
*.xlsx
!prices_mtrx.csv
!positions_mtrx.csv
!Urban_NPR_The_complete_dataset_2022-23.csv
!vic_lga.csv
!crimestatistics_vic.csv
